.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  scrollbar-gutter: stable;
  overflow-x: hidden;
}

.cityIcon {
  margin: auto;
  & svg {
    font-size: 10rem;
    min-width: 10rem;
    color: hsla(206, 100%, 82%, 0.5);
  }
}

.noResults {
  display: flex;
  gap: var(--size-1);
  align-self: center;
}
