.searchButton {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: var(--radius-round);
  background-color: hsla(210, 17%, 98%, 0.69);

  justify-self: end;

  transition: all 0.3s ease;

  margin: var(--size-3);
  outline: transparent;
  grid-row: 1/2;

  &:hover,
  &:active {
    background-color: var(--blue-0);
  }

  &:focus,
  &:focus-within {
    background-color: var(--blue-0);
    outline: 2px solid var(--blue-0);
    outline-offset: 3px;
  }

  @media (min-width: 1024px) {
    grid-column: 3 / 4;
    grid-row: 1/2;

    align-self: start;

    margin-block-start: var(--size-5);
    margin-inline-end: var(--size-5);
  }
}

.searchButton button {
  color: var(--stone-7);

  &:hover,
  &:active {
    color: var(--blue-9);
  }

  &:focus,
  &:focus-within {
    color: var(--blue-9);
  }
}

.hidden {
  visibility: hidden;
}
