.containerWeatherDetails {
  display: grid;
  height: 100%;
  padding: var(--size-3);
  font-size: var(--font-size-4);

  @media (min-width: 420px) {
    padding: var(--size-7);
    row-gap: var(--size-3);
  }

  @media (min-width: 1024px) {
    padding: 0px;

    grid-template-columns: 1fr 2fr 1fr;
  }
}

.cityData {
  font-size: var(--font-size-3);
  word-break: break-word;
  & svg {
    color: rgba(52, 58, 64, 0.69);
  }
}

.tempAndDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.temperature {
  display: flex;
  gap: var(--size-1);
  align-items: baseline;
}

.temperatureNow {
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-7);
}

.temperatureMax {
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-7);
}

.temperatureMin {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-6);
  color: var(--gray-7);
}

.day {
  color: var(--gray-7);
}

.weatherData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-2);
  min-height: 10rem;
  column-gap: 1rem;
  color: var(--blue-12);
  font-size: var(--font-size-3);

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    grid-row-start: 2;
    justify-self: start;
  }
  & svg {
    color: hsla(209, 75%, 27%, 0.5);
  }
}

.windDirection {
  font-size: var(--font-size-2);
  @media (min-width: 1024px) {
    font-size: var(--font-size-3);
  }
}
