@import "open-props/style";

html {
  min-height: 100%;
  overflow-x: hidden;
  background-color: #60b8ef;

  /* light */

  /* dark */
}

body {
  height: 100%;

  letter-spacing: var(--font-letterspacing-0);
  font-family: var(--font-neo-grotesque), "Open Sans";
  font-weight: var(--font-weight-4);

  /* theme */

  color: var(--gray-8);
  background-attachment: scroll;
}

html,
body {
  width: 100vw;
}

body:has(aside):has(.active) {
  position: fixed;
}

.fade-in {
  animation: fadeIn 0.69s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
